body{
    background-color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    margin: 5cm;
    
}
a{
    color: black;
    text-decoration: none;
    
}
a:hover{
    text-decoration-line: line-through;
  }

  h3 {
    text-decoration-line: line-through;
    text-decoration-color: green;

  }


img{
    align-items: center;
}
img:hover {
    box-shadow: 0 0 30px 30px rgba(0, 140, 186, 0.5);
  }

 

  button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  


















/* #articlecontainer{
width:800px;
margin: auto;
}




/* body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;

}

a{
    color: aqua;
    text-decoration: none;
}

a:hover{
    text-decoration-line: line-through;
}

h1{
    font-weight: normal;
    font-size: 400px;
    color: lightcoral;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width:500px;
}

p, img{margin: 50px;

}

p.caption{
    font-size: 500px;
    transform: rotate();
} */ 
